<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css"
    />
    <link rel="stylesheet" href="chart.css" />

    <!-- RawGit CDN chart.css -->
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/theus/chart.css/v1.0.0/dist/chart.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/charts.css/dist/charts.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <style>
      /* .divBarOne {
        width: {{starPercentage[0]}}% !important;
      } */
    </style>
    <title>Dashboard Page</title>
  </head>
  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-2 navBarBg">
          <ul class="nav flex-column navInside">
            <div class="logoContainer d-flex justify-content-center">
              <img
                src="{{url_for('static', filename='RM.png')}}"
                class="logoClass"
                alt="Logo of Review Dock"
              />
            </div>

            <li class="nav-item itemNavDash">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-columns-gap svgItem"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"
                />
              </svg>
              <a class="btn">Dashboard</a>
            </li>
            <li class="nav-item itemNav">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-left-right svgItem"
                viewBox="0 0 16 16"
              >
                <path
                  fill="#FFFFFF"
                  fill-rule="evenodd"
                  d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"
                />
              </svg>
              <a href="/recommendation/{{itemID[0]}}" class="btn navText"
                >Compare</a
              >
            </li>
            <li class="nav-item itemNav">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-square svgItem"
                viewBox="0 0 16 16"
              >
                <path
                  fill="#FFFFFF"
                  d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                />
                <path
                  fill="#FFFFFF"
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                />
              </svg>
              <a href="/recommendation/{{itemID[0]}}" class="btn navText"
                >About</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6">
          <h3 class="pageTitle">Dashboard</h3>
          <div class="row">
            <div class="col-6 cardTitle">
              <h6 style="font-family: Poppins">Review Analysis</h6>
              <p class="text" style="color: gray">some information here</p>
            </div>
            <div class="col-6 cardTitle">
              <h6 style="font-family: Poppins">Customer Satisfaction</h6>
              <p class="text" style="color: gray">some information here</p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="subCol">
                <div id="piechart_3d"></div>
              </div>
            </div>
            <div class="col-6">
              <div class="subCol">
                <div id="chart_div"></div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <h6 style="font-family: Poppins">Behavorial aspect</h6>
                  <p class="text" style="color: gray">some information here</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="subColAspect">
                    <table
                      class="charts-css [ column ] [ show-primary-axis show-9-secondary-axes ] [ data-spacing-4 reverse-data ] aspectChart"
                    >
                      <thead>
                        <tr>
                          <th scope="col">Year</th>
                          <th scope="col">Income</th>
                        </tr>
                      </thead>

                      <tbody class="tableBody">
                        {% for item in arrCommon %}
                        <tr>
                          <td
                            style="--size: calc({{item[1]}}); max-height: {{item[1]}}%;"
                          >
                            {{item[1]}}
                            <br />
                            {{item[0]}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-2 analyticsBg">
          <h3 class="pageTitle" style="color: white">.</h3>
          <div class="row">
            <div class="col cardTitle">
              <h6 style="font-family: Poppins">Analytics</h6>
              <p class="text" style="color: gray">Some text here</p>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div
                class="subCol"
                style="
                  width: 200px;
                  background-color: rgba(210, 187, 241, 0.527);
                "
              >
                <br />
                <div class="row d-flex justify-content-center">
                  <div class="subColAnalytics" style="width: 160px">
                    <div class="row p-2">
                      <div
                        class="col-4 vertical-center"
                        style="margin-left: 10px"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="#7152F5"
                          class="bi bi-messenger"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"
                          />
                        </svg>
                      </div>
                      <div class="col-8" style="margin-left: -20px">
                        <h6 style="font-family: Poppins; font-size: 14px">
                          New Sales
                        </h6>
                        <h4
                          style="
                            font-family: Quicksand;
                            color: #7152f5;
                            font-weight: 900;
                          "
                        >
                          234
                        </h4>
                        <h6 style="font-family: Poppins">5 %</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="subColAnalytics" style="width: 160px">
                    <div class="row p-2">
                      <div
                        class="col-4 vertical-center"
                        style="margin-left: 10px"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="#7152F5"
                          class="bi bi-messenger"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"
                          />
                        </svg>
                      </div>
                      <div class="col-8" style="margin-left: -20px">
                        <h6 style="font-family: Poppins; font-size: 14px">
                          New Sales
                        </h6>
                        <h4
                          style="
                            font-family: Quicksand;
                            color: #7152f5;
                            font-weight: 900;
                          "
                        >
                          234
                        </h4>
                        <h6 style="font-family: Poppins">5 %</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="subColAnalytics" style="width: 160px">
                    <div class="row p-2">
                      <div
                        class="col-4 vertical-center"
                        style="margin-left: 10px"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="#7152F5"
                          class="bi bi-messenger"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"
                          />
                        </svg>
                      </div>
                      <div class="col-8" style="margin-left: -20px">
                        <h6 style="font-family: Poppins; font-size: 14px">
                          New Sales
                        </h6>
                        <h4
                          style="
                            font-family: Quicksand;
                            color: #7152f5;
                            font-weight: 900;
                          "
                        >
                          234
                        </h4>
                        <h6 style="font-family: Poppins">5 %</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="subColAnalytics" style="width: 160px">
                    <div class="row p-2">
                      <div
                        class="col-4 vertical-center"
                        style="margin-left: 10px"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="#7152F5"
                          class="bi bi-messenger"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"
                          />
                        </svg>
                      </div>
                      <div class="col-8" style="margin-left: -20px">
                        <h6 style="font-family: Poppins; font-size: 14px">
                          New Sales
                        </h6>
                        <h4
                          style="
                            font-family: Quicksand;
                            color: #7152f5;
                            font-weight: 900;
                          "
                        >
                          234
                        </h4>
                        <h6 style="font-family: Poppins">5 %</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-2 prodDetailBg">
          <h4 class="prodTitle" style="font-family: Poppins">
            Product Details
          </h4>
          <h6 class="prodTitle">{{itemName[0]}}</h6>
          <br />
          <div class="imgCard d-flex justify-content-center imgCard">
            <img src="{{itemImg[0]}}" alt="" class="imgClass" /> <br />
          </div>
          <br />
          <p class="prodDesc">{{itemDescription[0]}}</p>

          € {{itemPrice[0]}}
          <br />
          <b>SUBJECTIVITY : {{roundOfSUB}}</b>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">

            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ["Polarity", "Hours per Day"],
                ["Pos", {{arrEmotions[0]}}],
                ["Neu", {{arrEmotions[2]}}],
                ["Neg", {{arrEmotions[1]}}],
              ]);

              var options = {
                chartArea: {width: '100%'},

                is3D: true,
              };

              var chart = new google.visualization.PieChart(
                document.getElementById("piechart_3d")
              );
              chart.draw(data, options);
            }

            // Bar
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawBasic);
      function drawBasic() {

      var data = google.visualization.arrayToDataTable([
        ['', ''],
        ['5 Stars', {{starPercentage[4]}}],
        ['4 Stars', {{starPercentage[3]}}],
        ['3 Stars', {{starPercentage[2]}}],
        ['2 Stars', {{starPercentage[1]}}],
        ['1 Star', {{starPercentage[0]}}]
      ]);


      var options = {

        chartArea: {width: '75%'},
        hAxis: {
          title: 'Percentage',
          minValue: 0
        },
        vAxis: {

          minValue: 0,
          maxValue:5
        },
        is3D: true,
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

      chart.draw(data, options);
      }
    </script>
  </body>
</html>
